<h1>Tickets</h1>
<ul>
  {{#each potentialWinners}}
    <li>
      <strong>{{name}}</strong>
    </li>
  {{/each}}
</ul>

<button {{action "pick"}}>Pick!</button>

{{#if lastWinner}}

<h2>Winner List</h2>
Last Winner: {{lastWinner.name}}
<p>{{winnerCount}} winners.</p>

<ul>
{{#each winnerList}}
  <li>
  {{name}}
  </li>
{{/each}}
</ul>
{{/if}}
