<div id="winningContainer">
  {{#if lastWinner}}
    {{view view.winningTicketView}}
  {{/if}}
</div>

<ul id="potentialWinners">
  {{#each potentialWinners}}
    <li>
      <strong>{{name}}</strong>
    </li>
  {{/each}}
</ul>

<button {{action "pick"}}>Pick!</button>

{{#if winnerList}}
  <h2>Winner List</h2>

  <p>{{winnerCount}} winners.</p>

  <ul>
  {{#each winnerList}}
    <li>
    {{name}}
    </li>
  {{/each}}
  </ul>
{{/if}}
